<% include partials/header %>

<div class="container">
  <header class="jumbotron">
    <div class="container">
        <h1>This is the galleries page!</h1>
        <p>Every collection has a special story.</p>
        <p>
          <a class="btn btn-primary btn-lg" href="/galleries/new">Add a new Gallery</a>
        </p>
    </div>
  </header>

  <div class="row">
    <div class="col-lg-12">
      <h3>Our top galleries!</h3>
    </div>
  </div>

  <div class="row">
      <% galleries.forEach((gallery) => { %>
        <div class="col-md-3 col-sm-6">
          <div style="margin-bottom: 25px" class="card text-center">
            <img class="card-img-top" src="<%= gallery.image %>" alt="">
            <div class="card-body">
              <h5 class="card-title"><%= gallery.name %></h5>
              <a class="btn btn-primary" href="/galleries/<%= gallery._id %>">More Info</a>
            </div>
          </div>
        </div>
      <% }); %> 
  </div>
  
</div>

<% include partials/footer %>
