<% include ../partials/header %>

<div class="row justify-content-center">
    <div class="col-md-12 text-center">
        <h1>Add a new Watch to <%= gallery.name %></h1>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
      <form action="/galleries/<%= gallery._id %>/watches" method="POST">
        <div class="form-group">
          <input class="form-control" type="text" name="watch[model]" placeholder="model">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="watch[image]" placeholder="image url">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="watch[description]" placeholder="description">
        </div>
        <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block">Submit!</button>
        </div>
        
      </form>
      <a href="/galleries/<%= gallery._id %>">Go Back</a>
    </div>
  </div>


<% include ../partials/footer %>
